.update-form.album {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-gray);
    border-radius: 5px;
    padding: 20px;
    position: relative;
}


.update-form.album .image-container {
    display: flex;
    /* margin-right: auto;
    margin-left: auto; */
    justify-content: center;
    align-items: center;
}

.update-form.album img {
    /* padding-right: 20px; */
    height: 170px;
    width: 170px;
    object-fit: cover;
}

.update-form.album  .image-overlay {
    height: 170px;
    width: 170px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.644);
    color: var(--text-main-white);
    font-family: var(--header-font);
    /* display: hidden; */
    pointer-events: none;
}

/* .update-form.album  .image-overlay:hover {
    display: flex;
} */

.update-form.album  .image-overlay i {
    font-size: 30px;
}

.update-form.album .confirm-message-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-main-white);
    font-size: 18px;
    padding-left: 20px;
}

.update-form.albumx .song-name {
    font-weight: bold;
}



.update-form.album .close-icon {
    position: absolute;
    font-size: 22px;
    right: 16px;
    top: 16px;
    color: rgb(161, 161, 161);
}

.update-form.album .form-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-family: var(--header-font);
}

.update-form.album .form-content label {
    color: var(--text-main-white)
}

.update-form.album .form-content input {
    background-color: var(--dropdown-gray);
    border: none;
    height: 30px;
    border-radius: 3px;
    color: var(--text-main-white);
    padding-left: 10px;
    width: 260px;

    height: 40px;
    margin-bottom: -5px;
}

.update-form.album .input-container {
    position: relative;
}

.word-counter-container {
    width: 62px;
    height: 28px;
    /* justify-self: flex-end; */
    /* margin-top: -50px; */
    align-self: flex-end;
    /* border: red 1px solid; */
}

.update-form.album .word-counter {
    /* position: absolute; */
    /* border: blue 1px solid; */
    right: 0;
    bottom: 0;
    padding: 5px;
    border-radius: 5px;
    /* background-color: var(--accent-orange); */
    background-color: rgba(128, 128, 128, 0.719);
    font-size: 14px;
    /* display: flex; */
    /* justify-content: flex-end; */
}


.update-form.album .word-counter.active {
    color: red;
}

.update-form.album .word-counter {

}

.update-form.album .form-content input:focus {
    outline: none;
}

.update-form.album .form-content * {
    margin: 5px;
}

.update-form.album button {
    /* margin-top: 60px; */
    width: 70px;
    height: 27px;
    font-family: var(--header-font);

    color: var(--background-main-black);
    background-color: var(--text-main-white);
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 13px;
    align-self: flex-end;
    /* margin-top: 5px; */

    /* border: solid 1px */
}
