.splash-container {
    margin-top: 50px;
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    color: var(--text-main-white);
}

.splash-container  .header-container {
    width: 100%;
    margin-top: 15%;
    height: 300px;

    border-top: gray 1px solid;
    border-bottom: gray 1px solid;

    padding-left: 7%;
    padding: -10px 0;
}

.splash-container  .left-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.splash-container  .right-container {
    width: 40vw;
}

.splash-container  .top {
    display: flex;
    align-items: flex-end;
    font-family: var(--header-font);
    height: 152px;
    font-size: 30px;
    margin: 0;
    margin-top: -15px
}

.splash-container  .top h1 {
    margin-bottom: -5px;
}

.splash-container  .bottom {
    font-family: var(--main-font);

}

.splash-container  .bottom h2 {
    font-size: 26px;
}

.splash-container  .bottom h3 {
    font-size: 18px;
}

.splash-container  .splash-logo {
    height: 180px;
    width: 180px;
    margin-bottom: -60px;
    margin-left: 150px;
}
