.splash-container {
    margin-top: 50px;
    height: calc(100vh - 50px);
    width: 100%;
    display: grid;
    color: var(--text-main-white);
    font-family: var(--header-font);

    grid-template-rows: 30% 200px 40%;
    /* grid-template-columns: 100%; */


}

.top {
    /* border: red 2px solid; */
    grid-row-start: 1;
    /* height: 100%; */
}

.bottom {
    /* border: red 2px solid; */
    grid-row-start: 3;
}


.splash-container  .header-container {
    width: 100%;
    position: relative;

    border-top: gray 1px solid;
    border-bottom: gray 1px solid;

    padding-left: 7vw;
    /* padding: -10px 0; */

    grid-row-start: 2;


    /* border: green 2px solid; */
    display: flex;
    height: 200px;
    /* align-items: center; */
}

.splash-container .header-container a {
    color: var(--accent-orange);
    font-weight: bold;
}

.splash-container  .left-container {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 100%;
    /* justify-content: center; */
    align-items: center;

}

.splash-container h1 {
    /* font-size: 110px; */
    font-size: 3.7em;
    margin-right: 20px;
    color: var(--text-secondary-white);
}

/* .splash-container  .right-container {
    width: 40vw;
} */

.splash-container  .header-top {
    display: flex;
    /* align-items: flex-end; */
    font-family: var(--header-font);
    /* height: 152px; */
    font-size: 30px;
    margin: 0;
    /* margin-top: -15px */
}

.header-container img {

    align-self: center;
}

.splash-container  .bottom {
    padding-left: 7vw;
    font-family: var(--main-font);
    grid-row-start: 3;
    color: var(--text-secondary-gray);
    /* border: green 3px solid; */
}

.splash-container  .bottom h2 {
    font-size: 26px;
}

.splash-container  .bottom h3 {
    font-size: 18px;
}


.splash-container  .splash-logo {
    height: 190px;
    filter: brightness(.9);
}

.splash-container .splash-logo.wave {
    height: 140px;
    width: 100%;
    align-self: flex-end;
    justify-self: flex-end;
    filter: brightness(.4);
    /* filter: brightness(0.6)contrast(3.4)hue-rotate(217deg)saturate(9.9); */

}

.developer-box {
    font-family: var(--header-font);
    position: absolute;
    bottom: -25px;
    right: 7vw;
    font-weight: 400;
    color: var(--text-secondary-gray);
}


#splash-footer {
    width: 100%;
    /* border: red 1px solid; */
    position: absolute;
    bottom: 20px;
}

#splash-footer ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    min-width: 517px;
}

#splash-footer li {
    color: gray;
    font-size: 16px;
}

#splash-footer li.dot-spacer {
    margin-top: -4px;
}
