#library-body .library-albums-body-container {
    display: grid;

    max-height: calc(100vh - 660px);
    font-family: var(--main-font);
    font-size: 16px;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 7px;
    height: 100%;
}

#library-body .library-albums-body-container.empty {
    display: block;
}

#library-body .library-album-body-header {
    border-bottom: 2px solid var(--border-gray);
    height: 50px;
}

.info-container .song-title,
.info-container .tile-artist {

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    max-width: 120px;
}

.album-item-container {
    align-self: flex-end;
    font-size: 13px;
    padding: 10px;
    border-radius: 5px;
    font-family: var(--main-font);
    color: var(--text-main-white);
    width: 210px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .7s;
}


.album-item-container:hover {
    background-color: var(--main-gray);
}

.album-item-container .tile-footer {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.tile-footer .info-container > div {
    height: 18px;
}

.album-item-container .icon-container {
    padding: 5px;
}

.album-item-container .tile-image-container  .tile-art {
    object-fit: cover;
    width: 190px;
    height: 190px;

}

.tile-art:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1280px) {
  .album-item-container {
    width: 200px;
  }

  .album-item-container .tile-image-container  .tile-art {
    width: 180px;
    height: 180px;
  }

.info-container .song-title,
.info-container .tile-artist {

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    max-width: 100px;
}
}

@media only screen and (max-width: 1210px) {
    .album-item-container {
        width: 190px;
    }

    .album-item-container .tile-image-container  .tile-art {
        width: 180px;
        height: 180px;
    }

    .info-container .song-title,
    .info-container .tile-artist {

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        max-width: 100px;
    }
}

@media only screen and (max-width: 1125px) {
    .album-item-container {
        width: 170px;
    }

    .album-item-container .tile-image-container  .tile-art {
        width: 155px;
        height: 155px;
    }

.info-container .song-title,
.info-container .tile-artist {

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    max-width: 80px;
}
}
