.form {
  display: flex;
  flex-direction: column;
  padding: 27px 0px;
  justify-content: center;
  border-radius: 5px;
  font-family: var(--main-font);
  background-color: var(--highlight-gray);
}

.form h2 {
  text-align: center;
}

.form label {
  padding: 20px 30.8px 5px;
}

.form input,
.form select,
.form textarea,
.form button {
  height: 45px;
  margin: 0 30px;
  border-radius: 5px;
  border: 1px solid var(--border-gray);
}

.form select {
  padding: 10px;
  margin-bottom: 33px;
}

.form textarea {
  padding: 10px;
}

.form input {
  padding-left: 10px;
}

.form label {
    width: 425px;
    color: var(--text-main-white);
    font-size: 16px;
}

.form .radio-container {
 display: flex;
 align-items: center;
}

.form .radio-container input {
  margin: 0px;
}

input.upload {
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-gray) solid 1px;;
  border-radius: 5px;
  padding: 18px;
}

.form button {
  cursor: pointer;
  /* margin: 35px 0; */
  margin-top: 35px;
  width: 170px;
  height: 36px;
  border-radius: 5px;
  border: none;
  align-self: center;
  background-color: var(--accent-orange);
  font-family: var(--main-font);
  color: var(--text-main-white);
  font-size: 16px;
}



.add-images-form input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-gray) solid 1px;;
  border-radius: 5px;
  padding: 20px;

}
