.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-gray);
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.form .form-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-family: var(--header-font);
}

.form .form-content label{
    color: var(--text-main-white);
    padding-left: 5px;
    margin: 0;
    margin-top: 10px;
}

.form .form-content input,
.form .form-content select {
    background-color: var(--dropdown-gray);
    border: none;
    border-radius: 3px;
    color: var(--text-main-white);
    padding-left: 10px;
    width: 260px;
    margin: 0;

    height: 32px;

}

.form .form-content input:focus {
    outline: none;
}

/* .form.album .form-content * {
    margin: 5px;
} */


.form button {
    /* margin-top: 60px; */
    width: 70px;
    height: 27px;
    font-family: var(--header-font);

    color: var(--background-main-black);
    background-color: var(--text-main-white);
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 13px;
    align-self: flex-end;
    margin-top: 15px;
    /* padding-top: 5px; */

    /* border: solid 1px */
}

.form .close-icon {
    position: absolute;
    font-size: 22px;
    right: 16px;
    top: 16px;
    color: rgb(161, 161, 161);
}

.form .icon {
    font-size: 60px;
    color: rgb(105, 105, 105);
}

.form .icon.active {
    color: var(--text-main-white)
}

.form .file-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form .input-container {
    position: relative;
}

.form .file-input-body {
    position: relative;
    height: 170px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px 30px .2px rgba(0, 0, 0, 0.322);

    /* border: red 3px solid; */
}

.word-counter-container {
    width: 62px;
    height: 28px;
    align-self: flex-end;
}

.form .word-counter {
    position: absolute;
    /* border: blue 1px solid; */
    right: 0;
    bottom: -18px;
    padding: 5px;
    border-radius: 5px;
    /* background-color: var(--accent-orange); */
    background-color: rgba(128, 128, 128, 0.719);
    font-size: 14px;
    /* display: flex; */
    /* justify-content: flex-end; */
}


.form .word-counter.active {
    color: red;
}

.form .file-message {
    position: absolute;
    /* display: flex; */
    /* flex-grow: 1; */
    font-size: 14px;
    bottom: 10px;
    width: 150px;
    text-align: center;
    font-family: var(--main-font);
    color: var(--text-main-white)

    /* width: 100%; */
    /* margin-right: 50%; */
    /* margin-left: 50%; */
    /* margin-right: auto;
    margin-left: auto; */
}

.form .file-input-footer {
    display: flex;
    /* border: purple 1px solid; */
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
    padding: 0 5px;
    color: rgb(105, 105, 105);
    font-size: 20px;
    z-index: 1;
}

.form .file-input-footer > div {
    /* border: red 2px solid; */
    width: 70px;
}

.form .file-input-footer .sm-icon {
    padding: 0 5px;
}

.form .file-input-footer .check {
    color: rgb(15, 180, 15);
    opacity: 0;
}

.form .file-input-footer .check.active {
    opacity: 1;
}

.form .file-input-body img {
    height: 170px;
    width: 170px;
    object-fit: cover;
}
