#album-player {
  display: flex;
  position: relative;
  background-color: var(--background-secondary-dark-gray);
  color: var(--text-main-white);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  font-family: var(--main-font);
  font-size: 1.1em;
  height: 282px;
  /* max-height: 282px; */
  width: 100%;
  /* width: 100%; */
  align-items: center;
  padding-left: 25px;
}


.album-player-image-container {
    /* height: 230px;
    width: 230px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    /* border: blue 1px solid; */
}

.album-player-image {
    /* height: 100%;
    width: 100%; */

    height: 210px;
    width: 210px;
    object-fit: cover;
}

.album-player-album .icon-container {
  /* height: 100%; */
  /* margin-top: 5px; */
  /* margin-bottom: auto; */
  height: 35px;
  width: 100%;

  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* padding-top: 5px; */

  /* border: red 1px solid; */
}

.album-player-album .icon-container .heart {
  /* padding: 0;
  margin: 0; */
}

.album-player-songs-container {
  overflow-y: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 78%;
}

.album-player-songs-container::-webkit-scrollbar {
  display: none;
}

.album-player-song-box {
  padding: 2px 45px 2px 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid var(--border-gray) 0.5px;
  position: relative;
  display: flex;
  transition: .7s;
  position: relative;
  cursor: pointer;
}

.album-player-song-box:hover {
  background-color: var(--main-gray);
  border-radius: 5px;
}

.album-song-details {
  width: 50%;
  position: relative;
}

.album-player-song-box .song-options {
  /* border: yellow 1px solid; */
  position: absolute;
  /* right: 0; */
}

.player-song-title {
  padding-bottom: 3px;
}

.player-song-artist {
  color: gray;
  font-size: .8em;
}
