#album-player {
  display: flex;
  position: relative;
  background-color: var(--background-secondary-dark-gray);
  color: var(--text-main-white);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  font-family: var(--main-font);
  font-size: 1.1em;
  height: 282px;
  /* max-height: 282px; */
  width: 93%;
  align-items: center;
  padding-left: 25px;
}


.album-player-image-container {
    height: 230px;
    width: 230px;
}
.album-player-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.album-player-songs-container {
  overflow-y: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 78%;
}

.album-player-songs-container::-webkit-scrollbar {
  display: none;
}

.album-player-song-box {
  padding: 2px 45px 2px 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid var(--border-gray) 0.5px;
  position: relative;
  display: flex;
  transition: .7s;
  position: relative;
  cursor: pointer;
}

.album-player-song-box:hover {
  background-color: var(--main-gray);
  border-radius: 5px;
}

.album-song-details {
  width: 50%;
  position: relative;
}

.player-song-title {
  padding-bottom: 3px;
}

.player-song-artist {
  color: gray;
  font-size: .8em;
}
