#album-player {
  display: flex;
  position: relative;
  background-color: var(--background-secondary-dark-gray);
  color: var(--text-main-white);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  font-family: var(--main-font);
  font-size: 1.1em;
  height: 282px;
  width: 100%;
  align-items: center;
  padding-left: 25px;

  max-width: 1100px;
}


.album-player-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.album-player-image {
    height: 210px;
    width: 210px;
    object-fit: cover;
    cursor: pointer;
}

.album-player-album .icon-container {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.album-player.scroll-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 0;

}

.album-player-songs-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.album-player-songs-wrapper {
  height: 100%;
  width: 100%;
}

.album-player-songs-container::-webkit-scrollbar {
    background-color: #0c0f0fa2;
    border-radius: 9px;
}

.album-player-songs-container::-webkit-scrollbar-thumb {
    background-color: rgb(37, 37, 37);
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;

}


.album-player-song-box {
  padding: 2px 45px 2px 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid var(--border-gray) 0.5px;
  position: relative;
  display: flex;
  transition: .7s;
  position: relative;
  cursor: pointer;
}

.album-player-song-box:hover {
  background-color: var(--main-gray);
  border-radius: 5px;
}

.album-song-details {
  width: 50%;
  position: relative;
}


.player-song-title {
  padding-bottom: 3px;
}

.player-song-artist {
  color: gray;
  font-size: .8em;
}

.album-player-song-box .song-options {
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 1;
    padding: 0;
    background-color: var(--main-gray);
    border-radius: 5px;
}

.album-player-song-box.last .song-options {
  top: -30px;
}


.album-player-song-box .song-options .icon {
  padding-left: 15px;
  font-size: 15px;
  margin-top: auto;
  margin-bottom: auto;

}

.album-player-song-box .song-options ul {
    padding: 0;
}

.album-player-song-box .song-options li {
    padding: 3px 10px;
    font-family: var(--main-font);
    color: var(--text-secondary-white);
    text-align: center;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
}

.album-player-song-box .song-options li:hover {
    background-color: var(--background-secondary-dark-gray);
}
