#main-sidebar {
    height: 470px;
    /* position: absolute; */
    border: red 3px solid;
    grid-column-start: 2;
    top: 50px;
    /* right: 0; */
    width: 200px;
    border-left: 2px solid var(--border-gray);
    border-bottom: 2px solid var(--border-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
    font-family: var(--header-font);
}

#main-sidebar > div {
    display: flex;
    color: gray;
    display: flex;
    align-items: center;

}

#main-sidebar > div p {
    cursor: pointer;
}

#main-sidebar .icon {
    font-size: 24px;
    color: gray;
    margin: 10px;
}

.sidebar-container {
    display: flex;
    /* height: 100%; */
    height: calc(100vh - 140px);
    flex-direction: column;
    border: green 3px solid;
}
