/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans:wght@300&family=Overlock:wght@400;700;900&display=swap');
:root {
    --background-main-black: #0d1111;
    --background-secondary-dark-gray: #111616;
    --main-gray: #202626;
    --highlight-gray: #202626;
    --glow-box-gray: #181f1f;
    --text-main-white: #d9e0e6;
    --text-secondary-gray: #a2a8ad;
    --accent-orange: rgb(160, 31, 9);
    --border-gray: rgb(34, 36, 43);
    /* --header-font: 'Overlock', cursive; */
    --header-font: 'Comfortaa', cursive;
    --main-font: 'Open Sans', sans-serif;
    --box-shadow: 1px 3px 15px 2px rgba(8, 8, 8, 0.192);
  }


body {
    /* position: relative; */
    background-color: var(--background-main-black);
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

lie {
    list-style: none;
}

/* #root {
    width: 100%;
} */
