/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans:wght@300&family=Overlock:wght@400;700;900&display=swap');
:root {
    --background-main-black: #0d1111;
    --background-secondary-dark-gray: #111616;
    --main-gray: #202626;
    --highlight-gray: #202626;
    --glow-box-gray: #181f1f;
    --text-main-white: #d9e0e6;
    --text-secondary-white: #c5ccd3;
    --text-secondary-gray: #a2a8ad;
    --accent-orange: rgb(160, 31, 9);
    --border-gray: rgb(34, 36, 43);
    /* --header-font: 'Overlock', cursive; */
    --header-font: 'Comfortaa', cursive;
    --main-font: 'Open Sans', sans-serif;
    --box-shadow: 1px 3px 15px 2px rgba(8, 8, 8, 0.192);
    --dropdown-gray: rgb(54, 54, 54);
  }


body {
    /* position: relative; */
    background-color: var(--background-main-black);
    margin: 0;

    /* border: rgb(38, 0, 255) 3px solid; */
    /* max-width: 100vw; */


    /* min-width: 1220px; */
}

* {
    box-sizing: border-box;
}

#root {
    /* border: red 3px solid; */
    /* max-width: 100vw; */
}

button {
    cursor: pointer;
}
/* #root {
    height: 100vh;
} */

a {
    text-decoration: none;
}

li{
    list-style: none;
}

.fa-heart {
    cursor: pointer;
}

/* #root {
    width: 100%;
} */

