.nav-button-container {
    /* justify-self: center; */
    align-self: center;
    /* border: red 1px solid; */
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav-button-container div {
    border: gray 1px solid;
    border-radius: 50%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button-container i {
    font-size: 30px;
    cursor: pointer;
    color: #c5ccd3ce;
    transition: .4s;
}

.nav-button-container div:hover,
.nav-button-container i:hover {
    color: white;
    border: whtie 1px solid;
}
