.error-container {
    margin-top: 50px;
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    color: var(--text-main-white);
}

.error-container .header-container {
    width: 100%;
    margin-top: 15%;
    height: 300px;
    background-color: var(--main-gray);

    padding-left: 7%;
    padding: -10px 0;
}

.error-container .left-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.error-container .right-container {
    width: 40vw;
}

.error-container .top {
    display: flex;
    align-items: flex-end;
    font-family: var(--header-font);
    height: 152px;
    font-size: 30px;
    margin: 0;
    margin-top: -15px
}

.error-container .top h1 {
    margin-bottom: -5px;
}

.error-container .bottom {
    font-family: var(--main-font);
}

.error-container .bottom h2 {
    font-size: 26px;
}

.error-container .bottom h3 {
    font-size: 18px;
}

.error-container .error-image {
    height: 180px;
    width: 180px;
    margin-bottom: -100px;
    margin-left: 100px;
    object-fit: cover;
}
