#home-wrapper {
    margin-top: 50px;
    width: 100vw;
    display: grid;
    grid-template-columns: calc(100vw - 180px) 180px;
    height: 100%;
}

#home-wrapper .main-wrapper {
    grid-column-start: 1;
    padding-left: 20px;
    height: 100%;
}

#home-wrapper h2 {
    font-size: 24px;
    font-family: var(--header-font);
    color: var(--text-main-white);
    margin-top: 80px;
    /* height: 100%; */
}





