.playable-tile {
    align-self: flex-end;
    font-size: 13px;
    padding: 10px;
    border-radius: 5px;
    font-family: var(--main-font);
    color: var(--text-main-white);
}

.playable-tile {
    transition: .7s;
}

.playable-tile:hover {
    background-color: var(--main-gray);
}

.tile-image-container {
    position: relative;
    font-size: 4vw;
}

.carousel-container {
    margin-top: -35px;
}

.tile-art {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.tile-art:hover {
    cursor: pointer;
}


.playable-tile .tile-footer{
    /* border: red 1px solid; */
    display: flex;
    justify-content: space-between;

}

.playable-tile .info-container {
    /* border: green 1px solid; */
}

.playable-tile .icon-container {
    /* border: blue 1px solid; */
    padding: 5px;
    /* justify-self: flex-end; */

}

.playable-tile .icon-container:hover {
    /* opacity: 1; */
}


.item-title,
.tile-artist {
    padding: 1px;
}

.tile-artist {
    color: grey;
}
