


#library-body .library-song-body-header {
    border-bottom: 2px solid var(--border-gray);
    grid-template-columns: 35% 35% 25% 5%;
    display: grid;
    color: var(--text-secondary-white);
    height: 50px;

    width: 100%;

    max-width: 880px;
}

.library-song-body-header .song-title.column-title {
    grid-column-start: 1;
    width: 100%;
}

.library-song-body-header .song-artist.column-title {
    grid-column-start: 2;
    width: 100%;
}

.library-song-body-header .song-album.column-title {
    grid-column-start: 3;
    width: 100%;
}

.library-song-body-header .column-title {
    font-family: var(--main-font);
    color: gray;
    padding-left: 10px;

}

#library-body .library-songs-body-container {
    /* height: calc(100vh - 560px); */
    height: 100%;
    font-family: var(--main-font);
    font-size: 16px;

    margin-right: auto;
    margin-left: auto;

    max-width: 900px;



    /* min-height: 300px; */

}


.library-list {
    color: var(--text-secondary-white);
    padding: 8px 10px;
    display: flex;
    align-items: center;
}

.library-list p,
.library-list span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.library-list .list-image {
    height: 29px;
    width: 29px;
    object-fit: cover;
    margin-right: 10px;
}

.library-list .item {
    margin: 0;
}


.library-list.song-list,
.library-list.album-list,
.list-box i {
    cursor: pointer;
}

.library-list.album-list.album-page {
    cursor: default;
}

.library-songs-body-container .list-box {
    width: 100%;
    grid-template-columns: 35% 35% 17% 10% 3%;
    display: grid;
    position: relative;
    padding-left: 40px;
}

.library-songs-body-container .song-list {
    grid-column-start: 1;

}

.library-songs-body-container .artist-list {
    grid-column-start: 2;

}

.library-songs-body-container .album-list {
    grid-column-start: 3;
}

.library-songs-body-container .heart {
    grid-column-start: 4;
    margin: auto;
}

.library-songs-body-container .list-box:hover {
    background-color: var(--highlight-gray);
}

.library-songs-body-container .song-options {
    grid-column-start: 5;
    color: var(--text-secondary-white);
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}

.library-songs-body-container .song-options.active {
    pointer-events: all;
    cursor: pointer;
    display: block;
}

.library-songs-body-container .heart {
    color: var(--text-main-white);
    display: none;
}

.library-songs-body-container .heart.active {
    display: block;
}


.library-list-dropdown {
    position: absolute;
    top: 25px;
    right: 15px;
    z-index: 1;
    padding: 0;
    background-color: var(--background-secondary-dark-gray);
    border-radius: 5px;
}

.last .library-list-dropdown {
    top: -120px;
}

.last .library-list-dropdown.playlist {
    top: -60px;
}

.last .library-list-dropdown.simple {
    top: -25px;
}

.library-list-dropdown ul {
    padding: 0;
}

.library-list-dropdown li {
    font-family: var(--main-font);
    color: var(--text-secondary-white);
    text-align: center;
    width: 120px;
    margin: 5px 0;
    cursor: pointer;
}

.library-list-dropdown li:hover {
    background-color: var(--highlight-gray);
}


.album-list-modal {
    background-color: var(--background-secondary-dark-gray);
    height: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}

.album-list-modal li {
    font-family: var(--main-font);
    color: var(--text-secondary-white);
    width: 100%;
    padding: 5px 20px 5px 10px;
    cursor: pointer;
}

.album-list-modal li:first-of-type {
    border-bottom: 1px solid gray;
    cursor: default;
}


.album-list-modal li:hover {
    background-color: var(--highlight-gray);
}

.album-list-modal li:first-of-type:hover {
    background-color: var(--background-secondary-dark-gray);
}

.album-list-modal .new-album {
    border-bottom: 1px solid gray;
}

.placeholder-message {
    color: var(--text-secondary-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.placeholder-message * {
    margin: 20px;
}
