.confirm-delete-container  {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-gray);
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.confirm-delete-container .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-delete-container img {
    height: 170px;
    width: 170px;
    object-fit: cover;
}

.confirm-delete-container .confirm-message-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-main-white);
    font-size: 18px;
    padding-left: 20px;
}

.confirm-message-box .song-name {
    font-weight: bold;
}

.confirm-message-box button {
    margin-top: 10px;
    width: 66px;
    height: 27px;
    font-family: var(--header-font);
    color: var(--background-main-black);
    background-color: var(--text-main-white);
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

.confirm-delete-container .close-icon {
    position: absolute;
    font-size: 22px;
    right: 16px;
    top: 16px;
    color: rgb(161, 161, 161);
}
