#library-wrapper .bottom-sidebar {
    grid-column-start: 2;
    grid-row-start: 2;

    /* height: calc(100vh - 560px); */

    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--border-gray);
    /* margin-top: 470px; */
    padding-top: 50px;
    width: 200px;

    /* border: green 2px solid; */
    min-height: 315px;
}
