#library-wrapper .bottom-sidebar {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--border-gray);
    padding-top: 50px;
    width: 200px;
    min-height: 315px;
    position: relative;
}


.content-toggle-container {
    width: 100%;
    position: absolute;
    top: 10px;
    text-align: center;
}

.content-toggle-container a {
    font-family: var(--header-font);
    color: gray;
    padding-right: 12px;
}

.content-toggle-container span {
    font-family: var(--header-font);
    color: rgba(97, 97, 97, 0.678);
    padding-right: 12px;
    cursor: default;
}

.content-toggle-container a.active {
    text-decoration: underline;
}
