.player-container {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  left: 0;
  justify-content: center;
  align-self: flex-end;
  z-index: 5;
  font-family: var(--main-font);
  background-color: rgb(25, 25, 25);

  min-width: 1050px;
}

.rhap_container {
  background-color: rgb(25, 25, 25);
  width: 80%;
}

#rhap_current-time,
.rhap_total-time {
    width: 41px;
    font-size: 14px;
    color: var(--text-main-white)
}

.rhap_progress-bar,
.rhap_volume-bar {
  background-color: #0e1111;
}

.rhap_volume-container {
    margin-right: 50px;
}

.rhap_volume-bar {
    width: 70px;
}

.rhap_volume-bar:hover {
  box-shadow: 0 0 2px 2px #181f1f;
}

.rhap_progress-bar.active {
  box-shadow: 0 0 1px 1px #181f1f;
}

.rhap_progress-filled {
  background-color: var(--main-gray);
}

.rhap_download-progress {
  background-color: #0e1111;
}

.rhap_time {
  color: var(--text-main-white);
}

.rhap_progress-indicator {
  background-color: var(--main-gray);
  box-shadow: none;
}

.rhap_progress-indicator.active {
  background-color: rgba(87, 17, 5, 0.877);
}

.current-song-info-container {
    bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    width: 270px;
    padding: 5px 0;
    margin-left: 70px;
  }

.rhap_main-controls {
  margin-right: 20px;
}



.current-song-artwork {
  height: 70px;
    width: 70px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
}

  .current-song-info {
    align-self: flex-end;
    padding-left: 8px;
    padding-bottom: 2px;
  }

  .current-song-info * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 180px;
}

.current-song-info p {
    color: var(--text-main-white);
    margin: 0;
    font-size: 13px;
}

.current-song-info .song-artist {
    color: gray;
}
